<div id="login" class="oj-flex oj-sm-align-items-center oj-hybrid-padding">
    <oj-form-layout class="oj-flex-item" direction="row" max-columns="1">
        <oj-input-text id="user-name" class="oj-panel" value="{{userName}}" label-hint="User Name" label-edge="inside"></oj-input-text>
        <oj-input-password id="password" class="oj-panel" value="{{password}}" label-hint="Password"></oj-input-password>
        <oj-button class="oj-panel" on-oj-action="[[loginClick]]">login</oj-button>
    </oj-form-layout>
</div>